<div class="flex gap-2 place-content-between rounded-lg bg-yellow-100 border-4 border-slate-100 mt-2">
  <p class="basis-1/2 p-1 m-1 text-left"><%= comment.detail %></p>
  <div class="basis-1/2 text-right mt-2 pr-2">
    <div class=""><%= comment.created_at.strftime("%a, %d %b %Y") %></div>
    <div class=""><%= comment.created_at.strftime("%H%M %z") %></div>
  </div>
</div>
