<h1 class="mb-4 text-4xl font-bold">Add Comment(s)</h1>
<div>
  <%= simple_form_for([@project, @comment], builder: SimpleForm::Tailwind::FormBuilder, local: true) do |f| %>
    <%= f.error_notification icon: "bell-alert", icon_classes: "mr-2 h-5 w-5 text-red-600", border_classes: "bg-red-50 border-l-8 border-red-600 p-4 border-b-slate-400 border-b", message_classes: "text-sm text-red-700" %>
    <hr class="text-slate-400 w-full flex">
    <%= f.input :detail, autocomplete: "detail", placeholder: "Add your comments here ..." %>
    <%= f.button :submit, class: "w-full flex justify-center mt-4 py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    <hr>
  <% end -%>
</div>
